@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */
body {
  background-color: yellow;
}



h1 {
  font-family: "SF Distant Galaxy";
}
.yoda1{
  display: flex;
  justify-content: center;
  object-fit: contain;
  padding: 50px;
  
  }
  .links {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    margin: 10px;
    background-color: yellow;
    
  }
  


/* computer */
@media screen and (min-width: 600px) {
  
    body {
      background-color: white;
    }
    h1 {
      color: black;
    }
  }

img{
 display: flex;
  justify-content: center;

}

.links {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  margin: 10px;
  background-color: yellow;
 
}

h1{
text-align: center;

}

.yoda1{
display: flex;
position: relative;
flex-direction: column;
flex-wrap: wrap;
overflow: hidden;
height: 300px;
align-content: center;


}






.all{
  margin: 0 auto;

}
    
