@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */

body {
  background-color: yellow;
}



h1 {
  font-family: "SF Distant Galaxy";
}
.yoda1{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  
  .chewbacca3{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
   
   
  
  
  .links {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    margin: 10px;
    background-color: yellow;
    
  }
  


/* computer */
@media screen and (min-width: 600px) {
  
    body {
      background-color: white;
    }
    h1 {
      color: black;
    }
  }

img{
 display: flex;
  align-self: center;

}

.links {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  margin: 10px;
  background-color: yellow;
 
}

h1{
text-align: center;



}

.yoda1{
display: flex;
flex-direction: row;
align-content: center;

}



.all{
  margin: 0 auto;

}
    


.chewbacca3{
  display: flex;
  flex-direction: row;
  align-content: center;
  
}


.gorgu{
  display: flex;
  flex-direction: row;
  align-content: center;

}

button:hover {
  background-color: lightgrey; 
}